<aside class="featured-posts" aria-label="Featured">
    <div class="slider-loading">
        <div id="featured-slider" class="featured-slider">
            <div>
                <div class="slide-inner">
                        <div class="slide-bg" style="background-image: url(assets/images/lavender.jpg)"></div>
                    <div class="slide-overlay">
                        <h2 class="entry-title">
                            Unique and Impactful Web Experiences
                        </h2>
                        <div class="entry-meta">
                        <span class="">Web Development / Web Design / SEO / Ecommerce </span>
                        <span class="">Strategically excecuted by <b id="underline"> Sara Mannseichner </b> </span>

                        </div><!-- .entry-meta -->
<!--                         <div class="slider-nav">
                                <button type="button" class="featured-prev"><i class="fa-arrow-left-custom" aria-hidden="true"></i> <span class="screen-reader-text">Previous</span></button>
                                <button type="button" class="featured-next"><i class="fa-arrow-right-custom" aria-hidden="true"></i> <span class="screen-reader-text">Next</span></button>
                            </div> -->
                    </div><!-- .slide-overlay -->
                </div><!-- .slider-inner -->
            </div>
        </div><!-- .featured-slider -->
    </div><!-- .slider-loading -->
    <div class="main-description">
<!--       <p> Hi there! I’m Sara- a Freelance Web Developer with a focus on beautifully crafted user experiences. I design and develop web products based on a deep understanding of my client’s needs.  </span>
    </p> -->
</aside><!-- .post -->
